:root {
  scroll-behavior: auto !important;
}
/* Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.woff2") format("woff2"),
    url("../font/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Italic.woff2") format("woff2"),
    url("../font/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.woff2") format("woff2"),
    url("../font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-SemiBold.woff2") format("woff2"),
    url("../font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.woff2") format("woff2"),
    url("../font/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.woff2") format("woff2"),
    url("../font/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  --red: #eb5757;
  --main: #e46a15;
  --white: #ffffff;
  --black: #000000;
  --yellow: #facc15;
  --green: #008001;
  --success: #27ae60;
  --border-light: #ededed;
  --text-light: #727272;
  --text-dark-light: #606060;
  --tab-light: #a9a9a9;
  --light-text-bold: #535353;
  --light-main: #ffd9bf;
  --light-main-2: #fff2e9;
  --light-main-3: #e9985e4a;
  --light-2: #f5f5f5;
  --light-bg: #eff6f2;
  --light-tabs: #f3f4f6;
  --text-black: #1f1f1f;
  --text-tabs: #43474c;
  --canvas-body: #f5f7fd;
  --border: #a4a4a4;
  --border-green: #c0e2ce;
  --shadow: 0px 2px 6.2px 0px #9191910d;
  --shadow-sm: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --main-gradient: linear-gradient(
    180deg,
    rgba(228, 106, 21, 0.9) -58.24%,
    rgba(0, 0, 0, 0.9) 238.24%
  );
  --linear-gradient: linear-gradient(
    180deg,
    rgba(228, 106, 21, 0.9) -58.24%,
    rgba(0, 0, 0, 0.9) 238.24%
  );
}

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  /* background-color: var(--canvas-body); */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: auto !important;
  padding-right: 0 !important;
}

.comman-spacing-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comman-btn-main,
.comman-btn-white {
  width: 184px;
  height: 48px;
  border-radius: 6px;
  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 13px;
  padding-left: 16px;
  color: var(--white);
  background-color: var(--main);
  font-weight: 500;
  font-size: 20px;
  line-height: 109.00000000000001%;
  border: 0;
  outline: none;
  letter-spacing: 0%;
  text-align: center;
}

.btn-comman {
  border: 0;
  outline: none;
  height: 45px;
  line-height: 45px;
  border-radius: 8px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: var(--white);
  background-color: var(--black);
}

.comman-btn-white {
  color: var(--black);
  background-color: var(--white);
}

.slide-btn {
  width: auto;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  border: 0;
  transform: translateY(-50%);
}

.slide-btn.prev {
  left: -70px;
}

.slide-btn.next {
  right: -70px;
}

.heading {
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.w-fit {
  width: fit-content !important;
}

.slide {
  width: 40px;
  height: 40px;
  opacity: 1;
  line-height: 40px;
  text-align: center;
  border-radius: 1000px;
  background-color: var(--light-main-2);
  cursor: pointer;
  border: 0;
  padding: 0;
}

.slide.active {
  background-color: var(--light-main);
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--light-text-bold);
  position: relative;
}

.text.dot {
  padding-left: 15px;
}

.text.dot::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--light-text-bold);
}

.social-link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.view-all {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--main);
  text-decoration: none;
}

.text-decoration-none {
  text-decoration: none !important;
}

.custom-radio {
  width: 20px;
  height: 20px;
  accent-color: var(--main);
}

.text-main {
  color: var(--main) !important;
}

.form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-dark-light0);
}

.form-control {
  height: 45px !important;
  line-height: 45px;
  border-radius: 4px;
  border: 1px solid var(--border-light);
}

.translate-y-middle {
  transform: translateY(-50%);
}

.btn-active {
  color: var(--main);
  border: 1px solid var(--main);
  background-color: var(--light-main);
}

.bg-light-main {
  background-color: var(--light-main);
}

.modal-heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #25232f;
}

.modal-width {
  max-width: 349px;
}

.comman-tabs .nav-item .nav-link {
  border: 0;
  background-color: transparent;
  color: var(--black);
}

.comman-tabs .nav-item .nav-link.active {
  color: var(--main);
  border-bottom: 2px solid var(--main);
  font-weight: 600;
}

.text-main {
  color: var(--main) !important;
}

.badge {
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--white);
  background-color: #ff6262;
}

.form-check-input {
  accent-color: var(--main);
}

.form-check-input:checked {
  background-color: var(--main);
  border-color: var(--main);
}
